html,
body {
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2 !important;
}

.radix-themes {
  background-color: #f2f2f2;
  --default-color: #d96d39;
  --default-secondary-color: #7a716c;
  --default-font-size: 18px;
}

._parent {
  height: 100vh;
  color: var(--default-secondary-color);
}

.response-body {
  background-color: white;
  color: var(--default-secondary-color);
}

.jobTitleHeading {
  color: var(--default-color);
}

.rt-TextFieldRoot {
  outline: none;
  box-shadow: none;
}

.roundPinnedProfileImage {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
